<!DOCTYPE html>
<html lang="ja">

<head>
   <meta charset="UTF-8">
   <title>TalkFlow</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
   <h1>TalkFlow</h1>
   <form method="POST" class="form-container">
      <textarea name="text" placeholder="ここに入力してください" required class="text-input" rows="8"></textarea>
      <button type="submit" class="submit-button">送信</button>
   </form>

   <div style="margin-top:30px;">
      <iframe src="{{ url_for('static', filename='graph.html') }}" width="100%" height="600px" frameborder="0"></iframe>
   </div>
</body>

</html>